_trial_temp/
*.txt
*.egg-info/
build
dist
*.pyc
*.pyo
*~
ema/*.pyc
ema/*.pyo
ema/*~
ema/dev/*.pyc
ema/dev/*.pyo
ema/dev/*~
ema/server/*.pyo
ema/server/*.pyc
ema/server/*~
my*
sftp-config.json
ema/trastero/*
