include versioneer.py
include ema/_version.py
include README.md
include files/etc/init.d/ema
include files/etc/ema/config.example
include files/etc/ema/passwd.example
include files/etc/logrotate.d/ema
include files/usr/local/bin/ema
include files/usr/local/bin/emapasswd
include files/usr/local/bin/ema-activity-10
include files/usr/local/bin/ema-activity-30
include files/usr/local/bin/ema-activity-50
include files/usr/local/bin/ema-activity-70
include files/usr/local/bin/ema-activity-90
include files/usr/local/bin/ema-volt-script
include files/usr/local/bin/ema-roof-script
include files/usr/local/bin/ema-low-volt-sms+shutdown
