include versioneer.py
include ema/_version.py
include README.md
include files/etc/init.d/ema
include files/etc/ema/config.example
include files/etc/ema/passwd.example
include files/etc/logrotate.d/ema
include files/usr/local/bin/ema
include files/usr/local/bin/emapasswd
include files/usr/local/bin/ema-activity-10.example
include files/usr/local/bin/ema-activity-30.example
include files/usr/local/bin/ema-activity-50.example
include files/usr/local/bin/ema-activity-70.example
include files/usr/local/bin/ema-activity-90.example
include files/usr/local/bin/ema-volt-script.example
include files/usr/local/bin/ema-roof-script.example
include files/usr/local/bin/ema-low-volt-sms+shutdown.example
