include versioneer.py
include ema/_version.py
include README.md
include files/etc/init.d/emad
include files/etc/default/ema
include files/etc/ema.d/config.example
include files/etc/ema.d/passwd.example
include files/etc/logrotate.d/ema
include files/usr/local/bin/emad
include files/usr/local/bin/emapasswd
include files/usr/local/bin/ema-shutdown
include files/usr/local/bin/ema-volt-script
include files/usr/local/bin/ema-roof-script
include files/usr/local/bin/ema-low-volt-sms+shutdown
